body{
    margin:0;
    padding:0;
    font-family:'Exo',sans-serif;
    font-size:1.5em;
    color:white;
    background-color:#00c2ff;
}
header{
    display:flex;
    justify-content:space-between;
    width:auto;
    padding:0.5em;
    background-color:black;
    font-weight:300;
}
span.logoContainer {
    margin-right:0.5em;
    float:left;
    width:10.5rem;
    height:1em;
}
img[src="ddg-logo.png"]{
    width:6.75em;
    height:2.25em;
    margin-top:-0.475em;
    margin-bottom:-0.5em;
}
.panel{
    display:inline-block;
    height:auto;
}
.left.panel{
    width:66.67%
}
.right.panel{
    width:33.33%;
    float:right;
}
.panel nav{
    display:flex;
    justify-content:space-around;
    font-weight:500;
    padding-top:0.5em;
    background-image:linear-gradient(#222,#111);
}
.panel nav span{
    display:inline-block;
    background-color:#006280;
    padding:0em 1em;
    border-radius:0.35em 0.35em 0 0;
    transition:padding 0.1s, margin 0.1s, background-color 0.1s;
}
.panel.view1 nav span.viewButton1, .panel.view2 nav span.viewButton2, .panel.view3 nav .viewButton3, .panel.view4 nav span.viewButton4 {
    background-color:#00c2ff;
    background-image:none;
    text-decoration:none;
    padding-bottom:0;
    margin-top:0;
    transition:padding 0.2s, margin 0.2s;
}
.panel nav span{
    background-color:#006280;
    background-image:linear-gradient(#0000 40%,#000b 100%);
}
.panel nav span:hover{
    background-color:#0092be;
    background-image:linear-gradient(#0000 45%,#000a 100%);
    text-decoration:underline;
    padding-bottom:0.125em;
    margin-top:-0.125em;
}
.panel nav span:active{
    background-color:#00c2ff;
    background-image:linear-gradient(#0000 50%,#0009 100%);
    padding-bottom:0.25em;
    margin-top:-0.25em;
}
.panel main{
    background-color:#00c2ff;
    height:auto;
    width:auto;
    padding:1em;
    font-size:1.25rem;
}
.left.panel main{
    display:none;
}
.left.panel.view1 main#view1, .left.panel.view2 main#view2, .left.panel.view3 main#view3, .left.panel.view4 main#view4{
    display:block;
}

/* session panel */
.left.panel #view1{
    font-family:'Teko',serif;
}
.left.panel #view1 .session{
    font-weight:600;
    font-size:1.1em;
    background-color:black;
    border-radius:1.3em;
    padding:1.2rem 0;
    margin:1em 0;
}
.left.panel #view1 .session div{
    display:flex;
    width:auto;
    justify-content:space-between;
}
.left.panel #view1 .session div .left{
    position:relative;
    left:0.2em;
}
.left.panel #view1 .session div span.right{
    position:relative;
    right:0.2em;
}
.left.panel #view1 .session div span span{
    padding:0.25em 0.5em;
    margin:0;
    border:0.125em solid black;
    position:relative;
}
.left.panel #view1 .session .firstRow span span{
    top:-0.45rem;
    background-image:linear-gradient(#333,#222);
}
.left.panel #view1 .session .secondRow span span{
    top:0.45rem;
    background-image:linear-gradient(#222,#111);
}
.left.panel #view1 .session div span span input[type=text]{
    font-size:1em;
    color:white;
    font-family:'Teko',serif;
    border: 0;
    border-bottom:0.0625em solid white;
    margin-bottom:-0.0625em;
    border-radius:0.125em;
    padding:0 0.125em;
}
.left.panel #view1 .session .firstRow span span input[type=text]{
    text-align:center;
    font-weight:600;
    width:2em;
    background-color:#333;
    background-image:linear-gradient(#313131 0%, #111 100%);
}
.left.panel #view1 .session .secondRow span span input[type=text]{
    font-weight:400;
    background-color:#222;
    background-image:linear-gradient(#202020 0%, #000 100%);
}
.left.panel #view1 .session .secondRow .left span input[type=text]{
    width:16em;
}
.left.panel #view1 .session .secondRow .right span input[type=text]{
    width:8em;
}
.left.panel #view1 .session span span.topRight{
    border-radius:0 1em 0 0;
}
.left.panel #view1 .session span span.bottomRight{
    border-radius:0 0 1em 0;
    padding-right:0.5em;
}
.left.panel #view1 .session span span.topLeft{
    border-radius:1em 0 0 0;
}
.left.panel #view1 .session span span.bottomLeft{
    border-radius:0 0 0 1em;
}
.left.panel #view1 .login {
    background-color:#00c2ff;
    background-image:linear-gradient(#333,#222);
    background-repeat:no-repeat;
    width:3.9em;
    padding:0.25em 0.5em;
    border-radius:1.5em;
    border:0.3em solid black;
}
.left.panel #view1 .login:hover{
    background-image:linear-gradient(#fff,#9df);
    color:black;
}
.left.panel #view1 .login:hover .plus{
    border-color:black;
}
.left.panel #view1 .login > span{
    font-weight:700;
    text-transform:uppercase;
}
.left.panel #view1 .login .plus{
    display:inline-block;
    height:0.66em;
    padding:0 0.0625em;
    margin:0 0 0 0.5em;
    border:0.0625em solid white;
    font-weight:500;
    font-size:1.1em;
    position:relative;
    top:0.3em;
}
.left.panel #view1 .login .plus span{
    position:relative;
    top:-0.31em;
}

/* user panel */
.left.panel #view2 .users table{
    border-collapse:collapse;
    text-align:left;
}
.left.panel #view2 .users td, .left.panel #view2 .users th{
    padding: 0.25em 0.5em;
}
.left.panel #view2 .users td + td, .left.panel #view2 .users th + th{
    border-left:0.0625em solid white;
}
.left.panel #view2 .users td{
    font-size:0.6em;
    font-weight:400;
}
.left.panel #view2 .users th{
    font-size:0.75em;
    font-weight:600;
}


