:root {
    --view-1-background-color: #00b3c1;
    --view-2-background-color: #1e93d6;
    --view-3-background-color: #3c72ea;
    --view-4-background-color: #5a52ff;
    --r-view-1-background-color: #0a203b;
    --r-view-2-background-color: #0e194d;
}
body{
    margin:0;
    padding:0;
    font-family:'Exo 2',sans-serif;
    font-size:1.5em;
    color:white;
}
header{
    display:flex;
    justify-content:space-between;
    width:auto;
    padding:0.5em;
    background-color:black;
    font-weight:300;
}
span.logoContainer {
    margin-right:0.5em;
    float:left;
    width:10.5rem;
    height:1em;
}
img[src="ddg-logo.png"]{
    width:6.75em;
    height:2.25em;
    margin-top:-0.475em;
    margin-bottom:-0.5em;
}
span.time{
    font-weight:500;
    letter-spacing:1;
}
.panel{
    display:inline-block;
    height:auto;
}
.left.panel{
    width:66.67%
}
.right.panel{
    width:33.33%;
    float:right;
}
.panel nav{
    display:flex;
    justify-content:space-around;
    font-weight:500;
    padding-top:0.5em;
    background-image:linear-gradient(#222,#111);
}
.panel nav span{
    display:inline-block;
    padding:0em 1em;
    border-radius:0.35em 0.35em 0 0;
    transition:padding 0.1s, margin 0.1s, background-color 0.1s;
}
.panel.view1 nav .viewButton1, .panel.view2 nav .viewButton2, .panel.view3 nav .viewButton3, .panel.view4 nav .viewButton4{
    background-image:none;
    text-decoration:none;
    padding-bottom:0;
    margin-top:0;
    transition:padding 0.2s, margin 0.2s;
}
.left.panel nav .viewButton1{
    background-color:var(--view-1-background-color);
}
.left.panel nav .viewButton2{
    background-color:var(--view-2-background-color);
}
.left.panel nav .viewButton3{
    background-color:var(--view-3-background-color);
}
.left.panel nav .viewButton4{
    background-color:var(--view-4-background-color);
}
.right.panel nav .viewButton1{
    background-color:var(--r-view-1-background-color);
}
.right.panel nav .viewButton2{
    background-color:var(--r-view-2-background-color);
}
.panel nav span{
    background-image:linear-gradient(#0006 40%,#000b 100%);
}
.panel nav span:hover{
    background-image:linear-gradient(#0003 45%,#000a 100%);
    text-decoration:underline;
    padding-bottom:0.125em;
    margin-top:-0.125em;
}
.panel nav span:active{
    background-image:linear-gradient(#0000 50%,#0009 100%);
    padding-bottom:0.25em;
    margin-top:-0.25em;
}
.panel main{
    width:auto;
    padding:1em;
    font-size:1.25rem;
}
.panel main{
    display:none;
}
.panel.view1 main#view1, .panel.view2 main#view2, .panel.view3 main#view3, .panel.view4 main#view4{
    display:block;
}
.left.panel #view1{
    background-color:var(--view-1-background-color);
}
.left.panel #view2{
    background-color:var(--view-2-background-color);
}
.left.panel #view3{
    background-color:var(--view-3-background-color);
}
.left.panel #view4{
    background-color:var(--view-4-background-color);
}
.right.panel #view1{
    background-color:var(--r-view-1-background-color);
}
.right.panel #view2{
    background-color:var(--r-view-2-background-color);
}
/* session panel */
.left.panel #view1 * {
    font-family:'Teko',serif;
}
.left.panel #view1 .session{
    font-weight:600;
    font-size:1.1em;
    background-color:black;
    border-radius:1.3em;
    padding:1.2rem 0;
    margin:1em 0;
}
.left.panel #view1 .session div{
    display:flex;
    width:auto;
    justify-content:space-between;
}
.left.panel #view1 .session div .left{
    position:relative;
    left:0.2em;
}
.left.panel #view1 .session div span.right{
    position:relative;
    right:0.2em;
}
.left.panel #view1 .session div span span{
    padding:0.25em 0.5em;
    margin:0;
    border:0.125em solid black;
    position:relative;
}
.left.panel #view1 .session .firstRow span span{
    top:-0.45rem;
    background-image:linear-gradient(#333,#222);
}
.left.panel #view1 .session .secondRow span span{
    top:0.45rem;
    background-image:linear-gradient(#222,#111);
}
.left.panel #view1 .session div span span input[type=text]{
    font-size:1em;
    color:white;
    font-family:'Teko',serif;
    border: 0;
    border-bottom:0.0625em solid white;
    margin-bottom:-0.0625em;
    border-radius:0.125em;
    padding:0 0.125em;
}
.left.panel #view1 .session .firstRow span span input[type=text]{
    text-align:center;
    font-weight:600;
    width:2em;
    background-color:#333;
    background-image:linear-gradient(#313131 0%, #111 100%);
}
.left.panel #view1 .session .secondRow span span input[type=text]{
    font-weight:400;
    background-color:#222;
    background-image:linear-gradient(#202020 0%, #000 100%);
}
.left.panel #view1 .session .secondRow .left span input[type=text]{
    width:16em;
}
.left.panel #view1 .session .secondRow .right span input[type=text]{
    width:8em;
}
.left.panel #view1 .session span span.topRight{
    border-radius:0 1em 0 0;
}
.left.panel #view1 .session span span.bottomRight{
    border-radius:0 0 1em 0;
    padding-right:0.5em;
}
.left.panel #view1 .session span span.topLeft{
    border-radius:1em 0 0 0;
}
.left.panel #view1 .session span span.bottomLeft{
    border-radius:0 0 0 1em;
}
.left.panel #view1 .login {
    background-color:#00c2ff;
    background-image:linear-gradient(#333,#222);
    background-repeat:no-repeat;
    width:3.9em;
    padding:0.25em 0.5em;
    border-radius:1.5em;
    border:0.3em solid black;
}
.left.panel #view1 .login:hover{
    background-image:linear-gradient(#fff,#9df);
    color:black;
}
.left.panel #view1 .login:hover .plus{
    border-color:black;
}
.left.panel #view1 .login > span{
    font-weight:700;
    text-transform:uppercase;
}
.left.panel #view1 .login .plus{
    display:inline-block;
    height:0.66em;
    padding:0 0.0625em;
    margin:0 0 0 0.5em;
    border:0.0675em solid white;
    font-weight:500;
    font-size:1.1em;
    position:relative;
    top:0.3em;
}
.left.panel #view1 .login .plus span{
    position:relative;
    top:-0.31em;
}

/* user panel */
.left.panel #view2{
    position:relative;
}
.left.panel #view2 .users{
    overflow-y:scroll;
    height:32em;
    width:26.25em;
}
.left.panel #view2 .users::-webkit-scrollbar{
    width:0.25em
}
.left.panel #view2 .users::-webkit-scrollbar-track{
    background-color:var(--view-2-background-color);
}
.left.panel #view2 .users::-webkit-scrollbar-thumb{
    background-color:var(--view-2-background-color);
    border-radius:0.125em;
}
.left.panel #view2 .users:hover::-webkit-scrollbar-thumb{
    background-color:#fff8;
}
.left.panel #view2 .users table{
    border-collapse:collapse;
    text-align:left;
}
.left.panel #view2 .users td, .left.panel #view2 .users th{
    padding: 0.25em 0.5em;
}
.left.panel #view2 .users td + td, .left.panel #view2 .users th + th{
    border-left:0.0625em solid white;
}
.left.panel #view2 .users td{
    font-size:0.6em;
    font-weight:400;
}
.left.panel #view2 .users th{
    font-size:0.75em;
    font-weight:600;
    margin-bottom:-0.0625em;
    background-color:var(--view-2-background-color);
    position:sticky;
    top:0;
    text-decoration:underline;
}
.left.panel #view2 .search{
    top:2em;
    right:2em;
    position:absolute;
    float:right;
}
.left.panel #view2 .search span{
    font-size:4em;
    font-weight:700;
}
.left.panel #view2 .search input{
    font-size:3em;
    width:4.75em;
    padding:0.125em;
    float:clear;
    font-family:'Teko', sans-serif;
    border-radius:0.5em;
    border:none;
}
.left.panel #view2 .search button{
    background-color:#333;
    color:white;
    font-size:1em;
    padding:0.5em 1.5em;
    margin:1.25em 1em 0em 1em;
    text-transform:uppercase;
    border-radius:0.5em;
    box-shadow:0 0.125em #000;
    position:relative;
    top:0em;
    transition:box-shadow 0.06s,top 0.06s, background-color 0.06s;
}
.left.panel #view2 .search button:hover{
    text-decoration:underline;
}
.left.panel #view2 .search button:active{
    background-color:black;
    position:relative;
    top:0.125em;
    box-shadow:0 0 #000;
    transition:background-color 0
}

/* right panel */
.right.panel main img[src="desk.png"]{
    width:6em;
}